<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <div class="ibox-title">
                <h5 style="color:#FFFFFF"> FO-IN-12 Concepto Cumplimiento acompañamiento </h5>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Datos del Investigador y Proyecto </a></li>


            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">

                        <div class="panel panel-body">

                            <br>

                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-sm-4 col-form-label"><b>Nombre Tutor Joven Investigador:</b> </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txt_Nombre_Tutor" id="txt_Nombre_Tutor">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-sm-4 col-form-label"> <b>Nombre del proyecto:</b> </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txt_Nombre_proyecto" id="txt_Nombre_proyecto">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">


                    <button type="button" style="background-color: #D14844" class="btn btn-primary" id="btnUserReg" onclick="registrar_FO_IN_12()">Registrar</button>
                    <button type="button" style="background-color: #D14844" class="btn btn-primary" onclick="ocultarModalPublicaciones()">Cerrar</button>

                </div>   


            </div>      

        </div>

    </div>


</div>
</div>

</div>

<script type="text/javascript" src="../js/FO_IN_12/FO_IN_12.js"></script>