<!-- Modal de Usuarios -->

<!-- Cierre Modal de Usuarios -->

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">FO-IN-09/10 Concepto de Cumplimiento</h5>
                    <h5 class="label label-successE float-right"> <a onclick="Menu.FO_IN_09_10_1_DD()" style="background-color: #D14844;display: inline !important" class="btn btn-primary">Ver detalles</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_09' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>NOMBRE DEL INVESTIGADOR</th>
                                    <th>NOMBRE DEL PROYECTO</th>
                                    <th>FECHA DE SOLICITUD</th>
                                    <th>VISTO BUENO DIRECTOR DEPARTAMENTO</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->

<script type="text/javascript" src="../js/DD/DD09.js"></script>