<!-- Modal de Usuarios -->

<!-- Cierre Modal de Usuarios -->

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">FO-IN-15 Informe de Gestión</h5>
                    <h5 class="label label-successE float-right"> <a onclick="Menu.FO_IN_15_1_RF()" style="background-color: #D14844;display: inline !important" class="btn btn-primary">Ver detalles</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_15_RF' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>ID</th>
                                    <th>NOMBRE DEL PROYECTO</th>
                                    <th>GRUPO DE INVESTIGACION</th>
                                    <th>FACULTAD</th>
                                    <th>VISTO BUENO REPRESENTANTE FACULTAD</th>
                                    <th>FECHA SOLICITUD</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->

<script type="text/javascript" src="../js/RF/RF15.js"></script>