<!-- Modal de Usuarios -->
<div class="col-md-8 mx-auto" id="modalPublicaciones">
    <form>
        <div class="ibox-title">
            <h5 style="color:#FFFFFF">Datos del Proyecto:</h5>
        </div>

</div>
</form>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">FO-IN-12 Concepto Cumplimiento acompañamiento</h5>
                    <h5 class="label label-successE float-right"> <a onclick="Menu.FO_IN_12_1()" style="background-color: #D14844 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_12' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>ID</th>
                                    <th>NOMBRE DE JOVEN</th>
                                    <th>NOMBRE DEL TUTOR</th>
                                    <th>FECHA SOLICITUD</th>
                                    <th>ESTADO SOLICITUD</th>                          
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->






<script type="text/javascript" src="../js/FO_IN_12/FO_IN_12.js"></script>
