<!-- Modal de Usuarios -->
<div class="col-md-8 mx-auto" id="modalPublicaciones">



</div>

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">FO-IN-06 - Horas solicitadas</h5>
                    <h5 class="label label-successE float-right"> <a onclick="Menu.FO_IN_06_1()" style="background-color: #D14844 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>NOMBRE DE PROYECTO</th>
                                    <th>FECHA DE SOLICITUD</th>
                                    <th>VISTO BUENO DIRECTOR GRUPO</th>                          
                                    <th>VISTO BUENO REPRESENTANTE FACULTAD</th>                          
                                </tr>
                            </thead>
                        </table>
                       
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
